.todo_add_button {
  position: absolute;
  top: -15px;
  right: 10px;
  transition: opacity 0.2s ease-in;
}
.todo_add_button.switch-enter{
  opacity: 0.01;
}
.todo_add_button.switch-enter-active{
  opacity: 1.0;
}
.todo_add_button.switch-leave-active {
  opacity: 0.01;
}
.todo_input {
  input{
    font-size: 2em;
    color:#5f5f5f;
  }
}
.todos_list{
  transition: opacity 0.1s ease-in;
  opacity: 0;
  li{
    transition: all 0.1s ease-in;
    position: relative;
    a.todo_check_btn{
      position: absolute;
      right:-40px;
      top:4px;
      transform: rotate(180deg);
    }
    &:hover {
      background-color: #f1f1f1;
      a.todo_check_btn {
        right:10px;
        transform: rotate(0deg);
      }
    }
    p{
      margin: 2px;
    }
  }
  li.completed{
    p{
      text-decoration: line-through;
      opacity: 0.5;
      cursor:pointer;
    }

  }
}
.todos_list.loaded {
    opacity: 1;
}
.preloader-wrapper {
  margin: 0 auto;
  display: block;
}
nav ul a:hover,nav ul a.active {
    background-color: rgba(0,0,0,0.1);
}

.box {

    min-width: 150px;

    min-height: 200px;


    display: block;

    width: 200px;

}

.note {

    /* box-shadow: h-shadow v-shadow blur spread color inset; */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: #fff102;
}

.box-header {
    min-height: 30px;
    background-color: rgba(0,0,0,0.03);
    text-align: right;
    line-height: 30px;
    cursor: move;
}

.box-header a {

    display: block;

    margin: 4px;

    width: 20px;

    height: 20px;

    line-height: 20px;

    font-size: 24px;

    text-align: center;

    font-weight: bolder;

    font-family:"Helvetica Neue LT", "Helvetica", "Arial", "sans-serif";

    text-decoration: none;

    color: #666;

    border-radius: 5px;

}

.box-header a:hover, .box-header a:active {
    color: #ccc;
}

.left {

    float: left;

}

.right {

    float: right;

}

.hidden {

    display: none;

}

.note-text {

    margin: 0;

    background: none;

    border: none;

    font-family:"Helvetica", "Arial", "sans-serif";

    font-size: 24px;

    width: 100%;

    font-style: italic;

    resize: none;

    overflow: auto;

    outline: none;

    padding: 5px;

}
.ui-resizable { position: absolute!important;}
